.grid-element {
    border: 0.5px solid rgb(85, 85, 85); /**/
    box-sizing: border-box;
}

#grid-container {
    display: grid;
    grid-template-rows: repeat(16, 32px);
    grid-template-columns: repeat(16, 32px);
}