.grid-element {
    width: 32px;
    height: 32px;
    border: 0.5px solid black;
    box-sizing: border-box;
}

.colored {
    background: black;
}

#grid-container {
    display: grid;
    grid-template-rows: repeat(16, 32px);
    grid-template-columns: repeat(16, 32px);
}